{% extends 'base.html' %}
{% load static %}
{% block title %} Admissions {% endblock title %}
{% block admissionactive %}active{% endblock admissionactive %}
{% block body %}

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" style="background-image:url('{% static '/img/banner/admission.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Get your admission</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->

{% endblock body %}