{% extends 'basef.html' %}
{% load static %}
{% block title %} Admissions {% endblock title %}
{% block admissionactive %}active{% endblock admissionactive %}
{% block body %}

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" style="background-image:url('{% static '/img/banner/admission.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Get your admission</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% comment %} d-flex flex-row justify-content-sm-around {% endcomment %}
<div style="max-width: 50vw;margin:0 auto"> 
    <div class="col-sm" style="max-width: 90vw; margin: 0 auto">  
        <br>
        <br>
        <div class="section-title">
            <h2>Admissions Form</h2>
        </div>
        <form action="" method="post">
            {% csrf_token%}
            <h3>Location:</h3>
            <select name="location" id="location" class="form-control"id="validationCustom03" required>
                <option value="" class="dropdown-item" selected="selected">Select Location</option>
            </select>
        <br><br>
        <h3>College:</h3> 
        <select name="college" id="college" class="form-control"id="validationCustom03" required>
            <option value="" selected="selected">Please select college first</option>
        </select>
        <br><br>
        <h3>
            Branch:
        </h3>
         <select name="branch" id="branch" class="form-control"id="validationCustom03" required>
            <option value="" selected="selected">Please select branch first</option>
        </select>
        <br><br>
        <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<!-- Hero Area End -->


<div class="col-sm" style:"width:100%">
    <h2>{{cloc}}  {{cname}}  {{cbranch}}</h2>
    <span style="width:100% !important">{{ result | safe }}</span>
</div>

</div>




{% comment %} js for form  {% endcomment %}
<script>
    var dataObject = {
        "Vizag":{
            "GVP":["CSE"],
            "ANITS":["CSE"],
            "BABA":["CSE"],
            "DIET":["CSE"],
            "AVNATI":["CSE"],
            "VIIT":["CSE"]
        },
        "Chennai":{
            "Sundar Rajan":["MEC"],
            "PEC":["CIV"]
        },
        "Kolkata":{
            "St.Xavier's":["ECE"]
        }
    }
    window.onload = function() {
    var locationSel = document.getElementById("location");
    var collegeSel = document.getElementById("college");
    var branchSel = document.getElementById("branch");
    for (var x in dataObject) {
        locationSel.options[locationSel.options.length] = new Option(x, x);
    }
    locationSel.onchange = function() {
        branchSel.length = 1;
        collegeSel.length = 1;
        for (var y in dataObject[this.value]) {
        collegeSel.options[collegeSel.options.length] = new Option(y, y);
        }
    }
    collegeSel.onchange = function() {
        branchSel.length = 1;
        var z = dataObject[locationSel.value][this.value];
        for (var i = 0; i < z.length; i++) {
        branchSel.options[branchSel.options.length] = new Option(z[i], z[i]);
        }
    }
    }
</script>
{% endblock body %}