{% extends 'base.html' %}
{% load static %}
{% block title %} Jobs {% endblock title %}
{% block jobactive %}active{% endblock jobactive %}
{% block body %}

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" style="background-image:url('{% static '/img/banner/about.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Get your job</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="max-width: 50vw;margin:0 auto">
        <h1>Jobs Form</h1>
        <form action="job_pre" method="post">
            {% csrf_token%}
            Region: <select name="region" id="region" class="form-control">
                <option value="" class="dropdown-item" selected="selected">Select Region</option>
            </select>
          <br><br>
        State: <select name="state" id="state" class="form-control">
            <option value="" selected="selected">Please select state first</option>
        </select>
        <br><br>
        Branch: <select name="branch" id="branch" class="form-control">
            <option value="" selected="selected">Please select branch first</option>
          </select>
          <br><br>
          <button class="btn">Submit</button>
        </form>
    </div>
</div>
<!-- Hero Area End -->

<h1>Hello World Class Test</h1>
<p>{{ result }}</p>

<script>
    var branches = ["CSE/IT","ECE","EEE","CIV","MEC","CHEM"]
    var dataObject = {
    "North":{
        "Jammu and Kashmir":branches,
        "Himachal Pradesh":branches,
        "Uttarakhand":branches,
        "Punjab":branches,
        "Uttar Pradesh":branches
    },
    "South":{
        "Kerala":branches,
        "Tamil Nadu":branches,
        "Andhra Pradesh":branches,
        "Telangana":branches,
        "Karnataka":branches,
        "Goa":branches
    },
    "East":{
        "Seven Sisters":branches,
        "West Bengal":branches,
    },
    "West":{
        "Rajasthan":branches,
        "Gujarat":branches,
        "Haryana":branches
    },
    "Central":{
        "Madhya Pradesh":branches,
        "Bihar":branches,
        "Maharashtra":branches,
        "Chattisgarh":branches,
        "Orissa":branches,
        "Jharkhnad":branches,
    },
    }
    window.onload = function() {
    var regionSel = document.getElementById("region");
    var stateSel = document.getElementById("state");
    var branchSel = document.getElementById("branch");
    for (var x in dataObject) {
        regionSel.options[regionSel.options.length] = new Option(x, x);
    }
    regionSel.onchange = function() {
        branchSel.length = 1;
        stateSel.length = 1;
        for (var y in dataObject[this.value]) {
        stateSel.options[stateSel.options.length] = new Option(y, y);
        }
    }
    stateSel.onchange = function() {
        branchSel.length = 1;
        var z = dataObject[regionSel.value][this.value];
        for (var i = 0; i < z.length; i++) {
        branchSel.options[branchSel.options.length] = new Option(z[i], z[i]);
        }
    }
    }
</script>
{% endblock body %}