{% extends 'basef.html' %}
{% load static %}
{% block title %} Jobs {% endblock title %}
{% block jobactive %}active{% endblock jobactive %}
{% block body %}

<!-- Hero Area Start-->
<div class="slider-area ">
    <br><br><br><br>
    <div class="single-slider section-overly slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title">
                        <br>
                        <br>
                        <h2>{{role}}</h2>
                        {% comment %} <h2>Find your job</h2> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0 auto">
        <div class="container">
            <h1>Job Descripion: </h1>
            <h5>{{desc}}</h5>
            <h4>The list of skills required : </h4>
        </div>
        <div class="container">
            {% for o in obj %}
            <div class="row card">
                    <div class="card-body col-4">
                        <h5 class="card-title">{{o.0}}</h5>
                        {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
                        <p>Offline Resource :<a href="#" style="" class="card-link btn-primary">{{o.1}}</a> </p>
                        <p>Online Resource :<a href="#" style="" class="card-link btn-primary">{{o.2}}</a></p>
                    </div>
                    {% comment %} <br> {% endcomment %}
                </div>
            {% endfor %}
            {% comment %} <div class="card" style=""> {% endcomment %}
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->

{% endblock body %}