{% extends 'basef.html' %}
{% load static %}
{% block title %} Jobs {% endblock title %}
{% block jobactive %}active{% endblock jobactive %}
{% block body %}

<!-- Hero Area Start-->
<div class="slider-area ">
    <br><br><br><br>
    <div class="single-slider section-overly slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title">
                        <h2>Find your job</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0 auto">
        <div>
            <h1>{{desc}}</h1>
        </div>
        <div class="card" style="width: 18rem;">
        {% for o in obj %}
            <div class="card-body">
              <h5 class="card-title">{{o.0}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <a href="#" style="" class="card-link btn-primary">{{o.1}}</a>
              <a href="#" style="" class="card-link btn-primary">{{o.2}}</a>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
<!-- Hero Area End -->

{% endblock body %}